<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Please enter search keyword" [(ngModel)]="keyword"/>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="searchTutorial()">Search</button>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <h4>Tutorial List</h4>
    <ul class="list-group">
      <li class="list-group-item"
          *ngFor="let tutorial of tutorialList | paginate: { itemsPerPage: pageSize, currentPage: currnetPage, totalItems: tutorialList.length }; let i = index;"
          routerLink="/tutorial/{{tutorial.id}}">
        {{tutorial.title}}
      </li>
    </ul>
  </div>

  <!-- Pagination:S -->
  <div class="col-md-12">
    <pagination-controls
      [directionLinks]="true"
      [previousLabel]="Prev"
      [nextLabel]="Next"
      [responsive]="true"
      [maxSize]="10"
      (pageChange)="pageChanged($event)">
    </pagination-controls>
  </div>
  <!-- Pagination:E -->

</div>
