<p>tutorial-list</p>
<!--<div class="flex-content-top">-->
    <!--&lt;!&ndash; 타이틀 &ndash;&gt;-->
    <!--<div class="section-title">-->
        <!--<h3 class="txt-title">Mesh 분석</h3>-->
        <!--&lt;!&ndash;<div class="button-area">&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash; Component : text buttons &ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;<button type="button" class="btn-basic type-small" (click)="openPopup()">새 Mesh 추가</button>&ndash;&gt;-->
            <!--&lt;!&ndash;&lt;!&ndash; //Component : text buttons &ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; //타이틀 &ndash;&gt;-->
    <!--&lt;!&ndash; 검색 &ndash;&gt;-->
    <!--&lt;!&ndash; [D] Input focus 시 delete 버튼 show : type-focus 추가 &ndash;&gt;-->
    <!--<div class="section-search">-->
        <!--<div class="left-area">-->
            <!--&lt;!&ndash; Component : Search + Select &ndash;&gt;-->
            <!--&lt;!&ndash; [D] Input focus 시 delete 버튼 show : type-focus 추가 &ndash;&gt;-->
            <!--<div class="component-select-search" [class.type-focus]="searchboxFocused">-->
                <!--&lt;!&ndash; [D] 클릭시 시 layer-options show : aria-expanded="true" &ndash;&gt;-->
                <!--<div class="wrap-selectbox" id="searchConfig"-->
                     <!--[attr.aria-expanded]="!!searchConfigListShow"-->
                     <!--(click)="searchConfigListShow = !searchConfigListShow"-->
                     <!--(clickOutside)="searchConfigListShow = false">-->
                    <!--<span class="txt-select-value font-en">{{searchConfigList.value}}</span>-->
                    <!--<div class="layer-options">-->
                        <!--&lt;!&ndash; [D] 선택시 aria-selected="true" &ndash;&gt;-->
                        <!--<ul class="list-option">-->
                            <!--<li *ngFor="let config of searchConfigList.list"-->
                                <!--(click)="searchConfigItemClicked(config)"-->
                                <!--[attr.aria-selected]="config.selected">-->
                                <!--<a href="javascript:" class="font-en">{{config.value}}</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="wrap-form-input">-->
                    <!--<input type="text" placeholder="Search..."-->
                           <!--[(ngModel)]="searchText"-->
                           <!--(focus)="searchboxFocused = true"-->
                           <!--(focusout)="searchboxFocused = false"-->
                           <!--(keyup.enter)="searchMesh()">-->
                    <!--<a href="javascript:" class="btn-delete" id="search-box-delete" (mousedown)="deleteSearchText()"></a>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash; //Component : Search + Select &ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; //검색 &ndash;&gt;-->
<!--</div>-->
<!--<div class="flex-content-body">-->
    <!--&lt;!&ndash; Mesh 관리 &ndash;&gt;-->
    <!--<div class="page-mesh">-->
        <!--<div class="section-list">-->
            <!--<ul class="list-mesh">-->
                <!--<li *ngFor="let mesh of showMeshList"-->
                    <!--(click)="onClickMoveDetail(mesh)">-->
                    <!--<div class="column-a">-->
                        <!--<div class="mesh-area">-->
                            <!--<div class="img-mesh font-en" [ngClass]="mesh.meshBgType">{{mesh.meshBgName}}</div>-->
                            <!--<div class="data-mesh">-->
                                <!--<strong class="txt-title font-en">{{mesh.name}}</strong>-->
                                <!--<div class="info-block">-->
                                    <!--<span class="txt-date">{{mesh.updatedDt}},</span>-->
                                    <!--<span class="txt-edit">-->
                                        <!--<em>{{mesh.updatedBy}}</em>에 의해 수정됨-->
                                    <!--</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="column-b">-->
                        <!--<ul class="list-data">-->
                            <!--<li>-->
                                <!--<span class="txt-label">Dataplane</span>-->
                                <!--<span class="txt-data">{{mesh.dataplaneTotal}}</span>-->
                                <!--<em></em>-->
                                <!--<span class="txt-label">Fault Injection</span>-->
                                <!--<span class="txt-data">{{mesh.faultInjectionTotal}}</span>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<span class="txt-label">Health Check</span>-->
                                <!--<span class="txt-data">{{mesh.healthCheckTotal}}</span>-->
                                <!--<em></em>-->
                                <!--<span class="txt-label">Circuit Breaker</span>-->
                                <!--<span class="txt-data">{{mesh.circuitBreakerTotal}}</span>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash; //Mesh 관리 &ndash;&gt;-->
<!--</div>-->
