<div class="col-md-8">
  <div class="submit-form">
    <div>
      <h4>Tutorial Add</h4>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" id="title" required [(ngModel)]="tutorial.title"/>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input name="description" class="form-control" id="description" required [(ngModel)]="tutorial.description"/>
      </div>

      <!--TODO-->
      <div class="form-group">
        <app-editor
          [initType]="'EDIT'"
          [content]="''"
        ></app-editor>
      </div>
      <!--//TODO-->

      <button class="btn btn-success" (click)="createTutorial()">Submit</button>
    </div>
    <!--TODO-->
    <!--<div *ngIf="submitted">-->
      <!--<h4>Tutorial was submitted successfully!</h4>-->
      <!--<button class="btn btn-success" (click)="newTutorial()">Add</button>-->
    <!--</div>-->
    <!--//TODO-->
  </div>
</div>
